.footer-inner {
  border-top: 0.5px solid #000;
  width: 90%;
  margin: 60px auto;
  padding: 40px 0px;

  display: grid;
  grid-template-columns: 5fr 1fr 1fr 1fr 1fr;

  
  div{
    text-align: center;
  }

  div:first-child{
    text-align: left;
  }

  img {
    width: 140px;
  }
}
